<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF8">
        <title></title>
        <!--<script src="http://fn.uctest.local:8080/stat/js/core/jquery-2.1.0.min.js"></script>
        <script src="http://127.0.0.1:8080/stat/js/core/util.js"></script>-->
        <style type="text/css">
            #container {margin:8px;}
            .param-table {background:#E6E6E6;border:1px solid #FFF;margin:12px 0;border-collapse:collapse;}
            .param-table th {background:gray;color:#FFF;font-size:14px;font-weight:bold;text-align:center;border:1px solid #FFF;}
            .param-table td {border-collapse:collapse;border:1px solid #FFF;font-size:14px;height: 28px}
            .param-table .th-name {width:200px;}
            .param-table .th-identifier {width:140px;}
            .param-table .th-type {width:100px;}
            .param-table .th-remark {width:200px;}
            .param-table .td-name {}
            .param-table .td-identifier {}
            .param-table .td-type {color:#990000;}
            .param-table .td-remark {color:#666;}
            .param-table .tr-level-1 {background:#b8def5;}
            .param-table .tr-level-2 {background:#eddff3;}
            .param-table .tr-level-3 {background:#e8f1df;}
            .param-table .tr-level-4 {background:silver;}
            .param-table .tr-level-5 {background:gray;}
            .param-table .tr-level-6 {background:silver;}
            .param-table .tr-level-7 {background:gray;}
            .param-table .tr-level-8 {background:silver;}
            .param-table .tr-level-9 {background:gray;}
            .param-table .tr-level-10 {background:silver;}
            .param-table .tr-level-11 {background:gray;}
            .param-table .tr-level-12 {background:silver;}
            .param-table .tr-level-13 {background:gray;}
        </style>
       
    </head>
    <body>
        <div id="container">
        #if($project.commondesc) 
        	<h1>项目API通用信息</h1>
        	$project.commondesc
        	<hr>
        #end  
        
        #foreach($module in $project.moduleListOrdered)
            #set($moduleNo = $velocityCount)
            <div class="module">
                <h1>$moduleNo&nbsp;$module.name</h1>
                #foreach($page in $module.pageListOrdered)
                    #set($pageNo = $velocityCount)
                    <div class="page">
                        <h2>$moduleNo.$pageNo&nbsp;$page.name</h2>
                        #foreach($action in $page.actionListOrdered)
                            #set($actionNo = $velocityCount)
                            <div class="action">
                            <h3>$moduleNo.$pageNo.$actionNo&nbsp;$action.name</h3>
                            <h3>请求类型:</h3><div>
                            #if($action.requestType ==1)  
								  GET
							#elseif($action.requestType ==2)
								  POST
							#elseif($action.requestType ==3)
								  PUT
							#elseif($action.requestType ==4)
								  DELETE
							#elseif($action.requestType ==5)
								  PATCH
							#else
								  COPY	  								  								  
							#end  
                            </div>
                            <h3>请求路径:</h3>
                            <div>$action.requestUrl</div>
                            <h3>描述:</h3>
                                <div style="overflow:auto;width:auto;height:auto">
	                            <pre>$action.description</pre>
	                            </div>    
                            <h3>cURL内容:</h3>
                            <div>$action.cURL</div>
                            <h3>请求参数列表:</h3>
                            $action.requestParameterListHTML
                            <h3>响应参数列表:</h3>
                            $action.responseParameterListHTML
                            <h3>响应数据例子:</h3>
	                            <!--<div style="width:700px; height: 150px; overflow:auto;">-->
	                            <div style="background-color: #F7EED6; display:table; padding:0px 30px">
	                            <pre>$action.mockdata</pre>
	                            </div>
                            </div>                            
                        #end
                    </div>
                #end
            </div>
        #end
        </div>       
    </body>
</html>
